#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <5000>;
    require-prior-idle-ms = <150>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <50000>;
};

/ {
    combos {
        compatible = "zmk,combos";

        input_source {
            bindings = <&change_language>;
            key-positions = <39 30>;
        };

        escape_left {
            bindings = <&kp ESCAPE>;
            key-positions = <16 15>;
            layers = <0>;
        };

        escape_right {
            bindings = <&kp ESCAPE>;
            key-positions = <20 19>;
            layers = <0>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <16 15>;
            layers = <2>;
        };

        plus_minus {
            bindings = <&plus_minus>;
            key-positions = <20 19>;
            layers = <2>;
        };

        mul_div {
            bindings = <&mul_div>;
            key-positions = <32 31>;
            layers = <2>;
        };

        equal_base {
            bindings = <&kp EQUAL>;
            key-positions = <28 27>;
            layers = <0>;
        };
    };

    macros {
        username: username {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N1 &kp N5 &kp N9 &kp N7 &kp N0>;
            label = "USERNAME";
        };

        word_pwd: word_pwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N3 &kp V &kp N2 &kp AT &kp T &kp LS(U) &kp H &kp LS(S) &kp EXCL &kp LS(R) &kp LS(M) &kp LS(H) &kp AMPS>;
            label = "WORD_PWD";
        };

        change_language: change_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "CHANGE_LANGUAGE";
        };
    };

    behaviors {
        underscore_grave: underscore_grave {
            compatible = "zmk,behavior-tap-dance";
            label = "UNDERSCORE_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE>, <&kp GRAVE>;
        };

        plus_minus: plus_minus {
            compatible = "zmk,behavior-tap-dance";
            label = "PLUS_MINUS";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp MINUS>;
        };

        mul_div: mul_div {
            compatible = "zmk,behavior-tap-dance";
            label = "MUL_DIV";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&kp BACKSLASH>;
        };

        ht_layer_2: ht_layer_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LAYER_2";
            bindings = <&mo>, <&td_layer_2>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        td_layer_2: td_layer_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LAYER_2";
            #binding-cells = <0>;
            bindings = <&sl 2>, <&tog 2>;
        };

        td_layer_3: td_layer_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LAYER_3";
            #binding-cells = <0>;
            bindings = <&sl 3>, <&tog 3>;
        };

        ht_layer_3: ht_layer_3 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LAYER_3";
            bindings = <&mo>, <&td_layer_3>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ht_layer_4: ht_layer_4 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LAYER_4";
            bindings = <&mo>, <&td_layer_4>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        td_layer_4: td_layer_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LAYER_4";
            #binding-cells = <0>;
            bindings = <&sl 4>, <&tog 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_layer {
            bindings = <
&kp TAB            &kp Q               &kp W           &kp E            &kp R             &kp T            &kp Y            &kp U              &kp I            &kp O            &kp P                   &kp BACKSPACE
&underscore_grave  &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_GUI D   &mt LEFT_SHIFT F  &kp G            &kp H            &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RIGHT_CONTROL SEMI  &kp SINGLE_QUOTE
&kp HOME           &kp Z               &kp X           &kp C            &kp V             &kp B            &kp N            &kp M              &kp COMMA        &kp DOT          &kp FSLH                &kp END
                                                       &ht_layer_3 3 3  &kp SPACE         &ht_layer_2 2 2  &ht_layer_3 3 3  &kp ENTER          &ht_layer_4 4 0
            >;
        };

        window_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans    &trans
&trans  &kp A   &kp S   &kp D   &kp F   &trans     &trans  &kp J   &kp K   &kp L   &kp SEMI  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans    &trans
                        &trans  &trans  &kp SPACE  &trans  &trans  &trans
            >;
        };

        sym_num_layer {
            bindings = <
&trans  &trans         &trans  &kp CARET  &trans       &kp LEFT_BRACKET      &kp RBKT               &kp N7        &kp N8   &kp N9  &trans  &trans
&trans  &kp EXCL       &kp AT  &kp HASH   &kp PERCENT  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp N4        &kp N5   &kp N6  &trans  &trans
&trans  &kp AMPERSAND  &trans  &kp PIPE   &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp N1        &kp N2   &kp N3  &trans  &trans
                               &trans     &trans       &trans                &trans                 &kp NUMBER_0  &kp DOT
            >;
        };

        mod_nav_layer {
            bindings = <
&trans  &trans            &trans     &trans         &trans         &trans     &trans                  &trans                  &trans                &trans                   &trans     &trans
&trans  &kp LEFT_CONTROL  &kp LALT   &kp LGUI       &kp LSHFT      &trans     &kp LEFT_ARROW          &kp DOWN_ARROW          &kp UP_ARROW          &kp RIGHT_ARROW          &username  &word_pwd
&trans  &kp LG(Z)         &kp LG(X)  &kp LG(C)      &kp LG(V)      &kp LG(B)  &kp LA(LS(LEFT_ARROW))  &kp LS(LA(DOWN_ARROW))  &kp LA(LS(UP_ARROW))  &kp LA(LS(RIGHT_ARROW))  &trans     &trans
                                     &kp LA(SPACE)  &kp LG(SPACE)  &trans     &trans                  &trans                  &trans
            >;
        };

        func_layer {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans  &trans             &trans           &trans      &trans            &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE  &kp C_PLAY_PAUSE  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans             &trans           &trans      &trans            &trans
                        &trans  &trans  &trans   &trans  &trans             &trans
            >;
        };

        system_layer {
            bindings = <
&bootloader  &trans         &trans         &trans         &trans         &trans         &trans        &trans          &trans        &trans  &trans  &trans
&trans       &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &out OUT_USB  &out OUT_BLE    &out OUT_TOG  &trans  &trans  &trans
&trans       &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans  &trans  &trans
                                           &trans         &trans         &trans         &trans        &trans          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        kbd_layer {
            if-layers = <2 3>;
            then-layer = <5>;
        };
    };
};
